ProviderPortal/Service References/BulkUploadWCFService/BulkUpload.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="urn:Tribal/SFANCD/BulkUpload" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Tribal/SFANCD/BulkUpload" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:Tribal/SFANCD/BulkUpload/Imports">
      <xsd:import namespace="urn:Tribal/SFANCD/BulkUpload" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBulkUploadWCFService_Enqueue_InputMessage">
    <wsdl:part name="parameters" element="tns:Enqueue" />
  </wsdl:message>
  <wsdl:message name="IBulkUploadWCFService_Enqueue_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnqueueResponse" />
  </wsdl:message>
  <wsdl:message name="IBulkUploadWCFService_Enqueue_BulkUploadFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:BulkUploadFault" />
  </wsdl:message>
  <wsdl:message name="IBulkUploadWCFService_Enqueue_BulkUploadProviderFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:BulkUploadProviderFault" />
  </wsdl:message>
  <wsdl:message name="IBulkUploadWCFService_Confirm_InputMessage">
    <wsdl:part name="parameters" element="tns:Confirm" />
  </wsdl:message>
  <wsdl:message name="IBulkUploadWCFService_Confirm_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmResponse" />
  </wsdl:message>
  <wsdl:message name="IBulkUploadWCFService_Confirm_BulkUploadFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:BulkUploadFault" />
  </wsdl:message>
  <wsdl:portType name="IBulkUploadWCFService">
    <wsdl:operation name="Enqueue">
      <wsdl:input wsaw:Action="urn:Tribal/SFANCD/BulkUpload/IBulkUploadWCFService/Enqueue" message="tns:IBulkUploadWCFService_Enqueue_InputMessage" />
      <wsdl:output wsaw:Action="urn:Tribal/SFANCD/BulkUpload/IBulkUploadWCFService/EnqueueResponse" message="tns:IBulkUploadWCFService_Enqueue_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:Tribal/SFANCD/BulkUpload/IBulkUploadWCFService/EnqueueBulkUploadFaultFault" name="BulkUploadFaultFault" message="tns:IBulkUploadWCFService_Enqueue_BulkUploadFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="urn:Tribal/SFANCD/BulkUpload/IBulkUploadWCFService/EnqueueBulkUploadProviderFaultFault" name="BulkUploadProviderFaultFault" message="tns:IBulkUploadWCFService_Enqueue_BulkUploadProviderFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Confirm">
      <wsdl:input wsaw:Action="urn:Tribal/SFANCD/BulkUpload/IBulkUploadWCFService/Confirm" message="tns:IBulkUploadWCFService_Confirm_InputMessage" />
      <wsdl:output wsaw:Action="urn:Tribal/SFANCD/BulkUpload/IBulkUploadWCFService/ConfirmResponse" message="tns:IBulkUploadWCFService_Confirm_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:Tribal/SFANCD/BulkUpload/IBulkUploadWCFService/ConfirmBulkUploadFaultFault" name="BulkUploadFaultFault" message="tns:IBulkUploadWCFService_Confirm_BulkUploadFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>