ProviderPortal/Service References/BulkUploadWCFService/BulkUpload.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Tribal/SFANCD/BulkUpload" elementFormDefault="qualified" targetNamespace="urn:Tribal/SFANCD/BulkUpload" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Enqueue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parameters" nillable="true" type="tns:EnqueueParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="EnqueueParameters">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileSize" type="xs:int" />
      <xs:element minOccurs="0" name="UserContextItemId" type="xs:int" />
      <xs:element minOccurs="0" name="UserContextType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnqueueParameters" nillable="true" type="tns:EnqueueParameters" />
  <xs:element name="EnqueueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnqueueResult" nillable="true" type="tns:EnqueueResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="EnqueueResult">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProviderIds" nillable="true" type="q1:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnqueueResult" nillable="true" type="tns:EnqueueResult" />
  <xs:complexType name="BulkUploadFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BulkUploadFault" nillable="true" type="tns:BulkUploadFault" />
  <xs:complexType name="BulkUploadProviderFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BulkUploadProviderFault" nillable="true" type="tns:BulkUploadProviderFault" />
  <xs:element name="Confirm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parameters" nillable="true" type="tns:ConfirmParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ConfirmParameters">
    <xs:sequence>
      <xs:element minOccurs="0" name="BulkUploadId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfirmParameters" nillable="true" type="tns:ConfirmParameters" />
  <xs:element name="ConfirmResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>