ProviderPortal/Web References/uk.co.ukrlp.webservices/ProviderQueryServiceV3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:commonlibrary="http://www.ukrlp.gov.uk/commonlibrary" xmlns:bs7666="http://www.govtalk.gov.uk/people/bs7666" xmlns="http://ukrlp.co.uk.server.ws.v3" xmlns:core="http://www.govtalk.gov.uk/core" xmlns:PersonalDetails="http://www.govtalk.gov.uk/people/PersonDescriptives" targetNamespace="http://ukrlp.co.uk.server.ws.v3" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://webservices.ukrlp.co.uk:80/UkrlpProviderQueryWS/ProviderQueryServiceV3?xsd=5" namespace="http://www.govtalk.gov.uk/people/bs7666" />
  <xsd:import schemaLocation="http://webservices.ukrlp.co.uk:80/UkrlpProviderQueryWS/ProviderQueryServiceV3?xsd=4" namespace="http://www.govtalk.gov.uk/people/PersonDescriptives" />
  <xsd:import schemaLocation="http://webservices.ukrlp.co.uk:80/UkrlpProviderQueryWS/ProviderQueryServiceV3?xsd=3" namespace="http://www.govtalk.gov.uk/core" />
  <xsd:import schemaLocation="http://webservices.ukrlp.co.uk:80/UkrlpProviderQueryWS/ProviderQueryServiceV3?xsd=2" namespace="http://www.ukrlp.gov.uk/commonlibrary" />
  <xsd:element name="ProviderQueryRequest" type="ProviderQueryStructure" />
  <xsd:complexType name="ProviderQueryStructure">
    <xsd:annotation>
      <xsd:documentation>
				ProviderQueryStructure is used by a stakeholder to submit a request to the system requesting information about providers
				registered and all their associated details.
				SelectionCriteria - this allows the entry of one or more pieces of query criteria which will be used to determine which provider records
				to return
				QueryId - an internal identifier given to each query submitted to the system
			</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="SelectionCriteria" type="SelectionCriteriaStructure" />
      <xsd:element name="QueryId" type="commonlibrary:QueryIdType" />
    </xsd:sequence>
    <xsd:attribute name="SchemaVersion" type="xsd:token" />
  </xsd:complexType>
  <xsd:element name="ProviderQueryResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="MatchingProviderRecords" type="ProviderRecordStructure" />
        <xsd:element name="QueryId" type="commonlibrary:QueryIdType" />
        <xsd:element name="StakeholderId" type="commonlibrary:StakeholderIdType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="faultDetail">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="major" type="xsd:string" />
        <xsd:element minOccurs="0" name="minor" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="authenticationDetails">
    <xsd:sequence>
      <xsd:element name="userName" type="xsd:string" />
      <xsd:element name="password" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SelectionCriteriaStructure">
    <xsd:annotation>
      <xsd:documentation>
				SelectionCriteriaStructure - this defines the various criteria that can be used to limit the providers returned by the query.
				UniqueProviderReferenceNumberList - one or more Unique ID's allocated to the providers
				ProviderNameList - one or more Provider Names
				PostcodeList - One or more Post Codes - follows BS67666 Postcode format
				ProviderUpdatedSince - A date that will return only providers updates since the given date
				ProviderVerifiedAfter - A date that will return only providers who have been verified After the given date
				ProviderVerifiedBefore - A date that will return only providers who have been verified before the given date
				CriteriaCondition - This indicates if the values specified as SelectionCriteria should be dealt with as either AND or OR conditions
				StakeholderId - this is an internal ID to indicate which Stakeholder submitted the request.
				ApprovedProvidersOnly - returns only providers who have an Approved relationship with the Stakeholder making the request
				ProviderStatus - returns providers matching the given status
			</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="UnitedKingdomProviderReferenceNumberList" type="UnitedKingdomProviderReferenceNumberListStructure" />
      <xsd:element minOccurs="0" name="ProviderNameList" type="ProviderNameListStructure" />
      <xsd:element minOccurs="0" name="PostcodeList" type="PostcodeListStructure" />
      <xsd:element minOccurs="0" name="SearchTerm" type="xsd:string" />
      <xsd:element minOccurs="0" name="BasePostcode" type="xsd:string" />
      <xsd:element minOccurs="0" name="MaxDistanceFromBasePostcode" type="xsd:int" />
      <xsd:element minOccurs="0" name="ProviderUpdatedSince" type="commonlibrary:DateTimeType" />
      <xsd:element minOccurs="0" name="ProviderVerifiedAfter" type="commonlibrary:DateTimeType" />
      <xsd:element minOccurs="0" name="ProviderVerifiedBefore" type="commonlibrary:DateTimeType" />
      <xsd:element minOccurs="0" name="CriteriaCondition" type="commonlibrary:QueryCriteriaConditionType" />
      <xsd:element minOccurs="0" name="StakeholderId" type="commonlibrary:StakeholderIdType" />
      <xsd:element minOccurs="0" name="ApprovedProvidersOnly" type="core:YesNoType" />
      <xsd:element minOccurs="0" name="ProviderStatus" type="commonlibrary:ProviderStatusType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UnitedKingdomProviderReferenceNumberListStructure">
    <xsd:annotation>
      <xsd:documentation>
				UnitedKingdomProviderReferenceNumberListStructure - each provider within the system is allocated a Unique ID, this structure allows the passing of
				one or more of these Unique Id's into the query.  Each provider matching the list will be returned.
			</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="UnitedKingdomProviderReferenceNumber" type="commonlibrary:UnitedKingdomProviderReferenceNumberType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProviderNameListStructure">
    <xsd:annotation>
      <xsd:documentation>
				ProviderNameListStructure. Each provider within the UKRLP system has one or more names , the primary registering within the system 
				requires Legal name, there is also the facility to store one or more "Aliases" for each provider.  These aliases indicate other names 
				which maybe used by the Provider, for example an alternate Trading Name.  All Names linked to the provider will be queried.
			</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="ProviderName" type="commonlibrary:ProviderNameType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostcodeListStructure">
    <xsd:annotation>
      <xsd:documentation>
				PostcodeListStructure - Each provider may have one or more addresses associated with it's names.  All contact addresses for the providers will
				be queried using the postcodes listed.
			</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Postcode" type="bs7666:PostCodeType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProviderQueryResultStructure">
    <xsd:annotation>
      <xsd:documentation>
				ProviderQueryResultStructure is used to hold the result of a query for providers against the system.
					MatchingProviderRecords - is a multi-nested structure that holds all the details for each provider returned by the query
					QueryId - an internal identifier given to each query submitted to the system
					StakeholderId - this is an internal ID to indicate which Stakeholder submitted the request.
			</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="MatchingProviderRecords" type="ProviderRecordStructure" />
      <xsd:element name="QueryId" type="commonlibrary:QueryIdType" />
      <xsd:element name="StakeholderId" type="commonlibrary:StakeholderIdType" />
    </xsd:sequence>
    <xsd:attribute name="SchemaVersion" type="xsd:token" />
  </xsd:complexType>
  <xsd:complexType name="VerificationDetailsStructure">
    <xsd:annotation>
      <xsd:documentation>
				VerificationDetailsStructure is used to hold the details about how a provider was verified by the UKRLP system.
				VerificationAuthority - will hold the organisation used to verify a provider (i.e. Company)
				VerificationId - this is the ID or reference used for verifying the Provider.
			</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="VerificationAuthority" type="commonlibrary:VerificationAuthorityType" />
      <xsd:element minOccurs="0" name="VerificationID" type="commonlibrary:VerificationDetailsType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProviderRecordStructure">
    <xsd:annotation>
      <xsd:documentation>
				The ProviderRecordStructure holds the main details for each matching provider record.
				UniqueProviderReferenceNumber - Unique ID allocated to every learning Provider
				ProviderName - Registered Legal Name of the provider
				ProviderStatus - Current status of the provider within the system
				ProviderContact - Contact details structure
				ProviderVerificationDate - Date the provider was verified by the system
				Expiry Date - Date the record is valid until
				ProviderAssociations - Any Associations the provider may have
				ProviderAliases - Any Aliases taht a provider may have - for example Trading Names
			</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="UnitedKingdomProviderReferenceNumber" type="commonlibrary:UnitedKingdomProviderReferenceNumberType" />
      <xsd:element name="ProviderName" type="commonlibrary:ProviderNameType" />
      <xsd:element name="ProviderStatus" type="commonlibrary:ProviderStatusType" />
      <xsd:element maxOccurs="2" name="ProviderContact" type="ProviderContactStructure" />
      <xsd:element minOccurs="0" name="ProviderVerificationDate" type="commonlibrary:DateTimeType" />
      <xsd:element minOccurs="0" name="ExpiryDate" type="commonlibrary:DateTimeType" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="ProviderAssociations" type="AssociationRecordStructure" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="ProviderAliases" type="ProviderAliasesStructure" />
      <xsd:element maxOccurs="unbounded" name="VerificationDetails" type="VerificationDetailsStructure" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProviderContactStructure">
    <xsd:annotation>
      <xsd:documentation>
				The ProviderContactStructure holds one or more contact records for each provider
					ContactType - Type of contact record being returned
					ContactAddress - Address of the contact - follows BS7666 format
					ContactPersonalDeteails - Name of the contact - follows PersonNameStructure published format
					ContactRole - the role the contact plays within the organisation
					ContactTelephone1 - first telephone number for contact
					ContactTelephone2 - second telephone number for contact
			</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ContactType" type="commonlibrary:ContactType" />
      <xsd:element name="ContactAddress" type="bs7666:BSaddressStructure" />
      <xsd:element minOccurs="0" name="ContactPersonalDetails" type="PersonalDetails:PersonNameStructure" />
      <xsd:element minOccurs="0" name="ContactRole" type="commonlibrary:ContactRoleType" />
      <xsd:element minOccurs="0" name="ContactTelephone1" type="commonlibrary:TelephoneNumberType" />
      <xsd:element minOccurs="0" name="ContactTelephone2" type="commonlibrary:TelephoneNumberType" />
      <xsd:element minOccurs="0" name="ContactFax" type="commonlibrary:TelephoneNumberType" />
      <xsd:element minOccurs="0" name="ContactWebsiteAddress" type="commonlibrary:WebsiteAddressType" />
      <xsd:element minOccurs="0" name="ContactEmail" type="commonlibrary:EmailAddressType" />
      <xsd:element name="LastUpdated" type="commonlibrary:DateTimeType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AssociationRecordStructure">
    <xsd:annotation>
      <xsd:documentation>
				AssociationRecordStructure holds details of any associations the main provider may have with other providers
					TypeOfAssociation - Indicates what type of relationship exists between the two providers
					AssociationId - Internal Id key to the association record
					AssociationDescription - description of the association between the providers
					AssociationStatus - current status of the association between the providers
					AssociationCreatedDate - Date the association was created between the providers
					AssociationsMemebershipStatus
					AssociationMemberSinceDate
					AssociationMembershipEndDate
					LeadProviderFlag - simple flag to indicate which provider is the primary kead in the relationship
			</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="TypeOfAssociation" type="commonlibrary:TypeOfAssociationType" />
      <xsd:element name="AssociationId" type="commonlibrary:AssociationIdType" />
      <xsd:element name="AssociationDescription" type="commonlibrary:AssociationDescriptionType" />
      <xsd:element name="AssociationStatus" type="commonlibrary:AssociationStatusType" />
      <xsd:element name="AssociationCreatedDate" type="commonlibrary:DateTimeType" />
      <xsd:element name="AssociationMembershipStatus" type="commonlibrary:MembershipStatusType" />
      <xsd:element name="AssociationMemberSinceDate" type="commonlibrary:DateTimeType" />
      <xsd:element minOccurs="0" name="AssociationMembershipEndDate" type="commonlibrary:DateTimeType" />
      <xsd:element name="LeadProviderFlag" type="commonlibrary:LeadProviderFlagType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProviderAliasesStructure">
    <xsd:sequence>
      <xsd:element name="ProviderAlias" type="commonlibrary:ProviderNameType" />
      <xsd:element name="LastUpdated" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>