ProviderPortal/Web References/uk.co.ukrlp.webservices/UKRLP-CommonLibrary-v1-6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.ukrlp.gov.uk/commonlibrary" xmlns:core="http://www.govtalk.gov.uk/core" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ukrlp.gov.uk/commonlibrary" version="1.6" id="UKRLP-CommonLibrary-v1-6" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://webservices.ukrlp.co.uk:80/UkrlpProviderQueryWS/ProviderQueryServiceV3?xsd=3" namespace="http://www.govtalk.gov.uk/core" />
  <xsd:annotation>
    <xsd:appinfo>
      <Metadata xmlns="http://www.govtalk.gov.uk/metadata/egms">
        <Contributor Role="author" Href="mailto:neil.catton@hotcourses.com">Neil Catton (SDS) UKRLP Project Team</Contributor>
        <Contributor Role="contributor" Href="mailto:vid.vartak@hotcourses.com">Vid Vartak (SDS) UKRLP Project Team</Contributor>
        <Contributor Role="contributor" Href="mailto:neil.pearson@hotcourses.com">Neil Pearson (SDS)</Contributor>
        <Contributor Role="reviewer" Href="mailto:paul.spencer@boynings.co.uk">Paul Spencer, Boynings Consulting Ltd</Contributor>
        <Creator Href="mailto:neil.catton@hotcourses.com">UKRLP Project Team - SDS</Creator>
        <Created>2005-05-21</Created>
        <Modified>2005-09-16</Modified>
        <Description>Common Schema Objects for general data type definitions</Description>
        <Format Scheme="http://www.iana.org/assignments/media-types/">text/xml</Format>
        <Identifier Href="http://www.ukrlp.gov.uk/schemas/UKRLP-CommonLibrary-v1-6.xsd">UKRLP-CommonLibrary-v1-6</Identifier>
        <Language codeListID="ISO639-2">eng</Language>
        <Publisher Href="mailto:neil.catton@hotcourses.com">SDS Project Team</Publisher>
        <ConformsTo>http://www.w3.org/2001/XMLSchema</ConformsTo>
        <Copyright>SDS Ltd</Copyright>
        <ProtectiveMarking>N/A</ProtectiveMarking>
        <Status>release</Status>
        <StatusDescription>release for UK GovTalk submission</StatusDescription>
        <Version>1.6</Version>
        <Category codeListID="IPSV">UKRLP Project</Category>
        <Project>UK Register of Learning Providers</Project>
        <Title>Common Library Functions 1.6</Title>
        <Type>architectural</Type>
      </Metadata>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:simpleType name="AssociationDescriptionType">
    <xsd:annotation>
      <xsd:documentation>AssociationDescriptionType - Simple Type used to define and validate the description given to a Provider Association
			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="AssociationIdType">
    <xsd:annotation>
      <xsd:documentation>AssociationIdType - Simple Type used to define and validate the Association Id allocated to each provider Association
			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:positiveInteger" />
  </xsd:simpleType>
  <xsd:simpleType name="AssociationStatusType">
    <xsd:annotation>
      <xsd:documentation>AssociationStatusType - Simple Type used to define and validate the Status of a Provider Association
			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="ContactFirstNameType">
    <xsd:annotation>
      <xsd:documentation>ContactFirstNameType - Simple Type used to define and validate the First name of a Contact Person
			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="ContactLastNameType">
    <xsd:annotation>
      <xsd:documentation>ContactLastNameType - Simple Type used to define and validate the Last name of a Contact Person
			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="ContactPersonType">
    <xsd:annotation>
      <xsd:documentation>ContactPersonType - Simple Type used to define and validate a Contact Person
			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="ContactRoleType">
    <xsd:annotation>
      <xsd:documentation>ContactRoleType - Simple Type used to define and validate the Role a contact plays within the Provider organisation
			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="ContactType">
    <xsd:annotation>
      <xsd:documentation>ContactType - Simple Type used to define and validate the Type of Contact Record
			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="VerificationDetailsType">
    <xsd:annotation>
      <xsd:documentation>VerificationDetailsType - Simple Type used to define and validate the Verification Details
			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="DateTimeType">
    <xsd:annotation>
      <xsd:documentation>DateType - A Common DataType W3C XML Schema datetimetype
			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime" />
  </xsd:simpleType>
  <xsd:simpleType name="DateType">
    <xsd:annotation>
      <xsd:documentation>DateType - A Common DataType W3C XML Schema datetype
			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="EmailAddressType">
    <xsd:annotation>
      <xsd:documentation>EmailAddressType - Simple Type used to define and validate an Email Address
			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9A-Za-z'\.\-_]{1,127}@[0-9A-Za-z'\.\-_]{1,127}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EngagementDecisionType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ProviderDeactivated" />
      <xsd:enumeration value="Unapproved" />
      <xsd:enumeration value="Rejected" />
      <xsd:enumeration value="Approved" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LeadProviderFlagType">
    <xsd:restriction base="core:YesNoType" />
  </xsd:simpleType>
  <xsd:simpleType name="MembershipStatusType">
    <xsd:annotation>
      <xsd:documentation>MembershupStatusType - Simple Type used to define and validate 
			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="ProviderNameType">
    <xsd:annotation>
      <xsd:documentation>ProviderNameType - Simple Type used to define and validate the Learning Provider Name
			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="ProviderStatusType">
    <xsd:annotation>
      <xsd:documentation>ProviderStatusType - Simple Type used to define and validate the status of a Provider record
			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="QueryApprovedOnlyFlagType">
    <xsd:annotation>
      <xsd:documentation>QueryApprovedOnlyFlagType - Simple Type used to define and validate if only Approved providers should be queried
			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="QueryCriteriaConditionType">
    <xsd:annotation>
      <xsd:documentation>QueryCriteriaConditionType - Simple Type used to define and validate the Boolean logic to be used in a Query
			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="AND" />
      <xsd:enumeration value="OR" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="QueryIdType">
    <xsd:annotation>
      <xsd:documentation>QueryIdType - Simple Type used to define and validate the QueryId allocated to each inbound/outbound query which is used for session tracking.
			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:integer" />
  </xsd:simpleType>
  <xsd:simpleType name="StakeholderIdType">
    <xsd:annotation>
      <xsd:documentation>StakeholderIdType - Simple Type used to define and validate the Unique Stakeholder Identification
			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:integer" />
  </xsd:simpleType>
  <xsd:simpleType name="TelephoneNumberType">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="TypeOfAssociationType">
    <xsd:annotation>
      <xsd:documentation>TypeOfAssociation - Simple Type used to define and validate the Type of Association that exists between one or more providers
			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="UnitedKingdomProviderReferenceNumberType">
    <xsd:annotation>
      <xsd:documentation>UniqueProviderReferenceNumberType - Simple Type used to define and validate a Unique Provider Reference Number Allocated to each Learning Provider
			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:positiveInteger" />
  </xsd:simpleType>
  <xsd:simpleType name="VerificationAuthorityType">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="WebsiteAddressType">
    <xsd:annotation>
      <xsd:documentation>="WebsiteAddressType - Simple Type used to define and validate the Website address
			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
</xsd:schema>