CourseSearchService/Ims.Schemas.Alse.CourseSearch.Contract/Web Service specification WSDL/1.2/xsd/CommonLibrary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://schemas.imservices.gov.uk/alse/coursesearch/commonlibrary/1.2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.imservices.gov.uk/alse/coursesearch/commonlibrary/1.2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="commonlibrary.xsd">
	<xsd:complexType name="DurationType">
		<xsd:sequence>
			<xsd:element name="DurationValue" type="xsd:integer" nillable="true" minOccurs="0"/>
			<xsd:element name="DurationUnit" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DurationDescription" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="DateTimeType">
		<xsd:annotation>
			<xsd:documentation>DateType - A Common DataType W3C XML Schema datetimetype
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="ProviderNameType">
		<xsd:annotation>
			<xsd:documentation>ProviderNameType - Simple Type used to define and validate the Learning Provider Name
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ProviderIDType">
		<xsd:annotation>
			<xsd:documentation>ProviderIDType - Simple Type used to define and validate the Unique Learning Provider Identifier
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer"/>
	</xsd:simpleType>
	<xsd:simpleType name="YesNoType">
		<xsd:annotation>
			<xsd:documentation>YesNoType - Simple Type used to define and validate any Boolean Yes/No elements.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Yes"/>
			<xsd:enumeration value="No"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="RequestAuthType">
		<xsd:sequence>
			<xsd:element name="UserID">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="5"/>
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Password">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="8"/>
						<xsd:maxLength value="15"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="RecordsPerPageType">
		<xsd:annotation>
			<xsd:documentation>RecordPerPageType - Simple Type used to define and validate the number of records requested on a page.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringType">
		<xsd:annotation>
			<xsd:documentation>InputType - Simple Type used to define length of free text input fields.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="200"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DateType">
		<xsd:annotation>
			<xsd:documentation>DateType - A Common DataType W3C XML Schema datetype
		</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="SortType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="A"/>
			<xsd:enumeration value="D"/>
			<xsd:enumeration value="S"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DistanceType">
		<xsd:annotation>
			<xsd:documentation>DistanceType - Simple Type used to define allowed value for distance.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:float"/>
	</xsd:simpleType>
	<xsd:complexType name="ResultInfoType">
		<xsd:sequence>
			<xsd:element name="NoOfPages">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NoOfRecords">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PageNo">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer"/>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProviderInfo">
		<xsd:sequence>
			<xsd:element name="ProviderID" type="xsd:integer"/>
			<xsd:element name="ProviderName">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="UKPRN" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="UPIN" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="TFPlusLoans" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="DFE1619Funded" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="FEChoices_LearnerDestination" type="xsd:double" minOccurs="0"/>
      <xsd:element name="FEChoices_LearnerSatisfaction" type="xsd:double" minOccurs="0"/>
      <xsd:element name="FEChoices_EmployerSatisfaction" type="xsd:double" minOccurs="0"/>
    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CourseInfo">
		<xsd:sequence>
			<xsd:element name="CourseID" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="CourseTitle" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="QualificationType" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="QualificationLevel" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LDCS" type="LDCSOutputType" minOccurs="0"/>
			<xsd:element name="NoOfOpps" type="xsd:integer" default="0"/>
			<xsd:element name="CourseSummary">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OpportunityInfo">
		<xsd:sequence>
			<xsd:element name="OpportunityId" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="StudyMode" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="AttendanceMode" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="AttendancePattern" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
      <xsd:element name="DFE1619Funded" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="StartDate" type="StartDateType" minOccurs="0"/>
			<xsd:element name="EndDate" type="xsd:string" minOccurs="0"/>
			<xsd:choice>
				<xsd:element name="Venue" type="VenueInfo" minOccurs="0"/>
				<xsd:element name="RegionName" type="xsd:string" minOccurs="0"/>
			</xsd:choice>
			<xsd:element name="Duration" type="DurationType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OpportunityDetail">
		<xsd:sequence>
			<xsd:element name="ProviderOpportunityId" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Price" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PriceDesc" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="StartDate" type="StartDateType" minOccurs="0"/>
			<xsd:element name="EndDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Duration" type="DurationType" minOccurs="0"/>
			<xsd:element name="StudyMode" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="AttendanceMode" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="AttendancePattern" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Timetable">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LanguageOfAssessment" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LanguageOfInstruction" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PlacesAvailable" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="EnquireTo" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ApplyTo" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ApplyFromDate" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ApplyUntilDate" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ApplyUntilDesc" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="URL" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="A10" type="xsd:string" maxOccurs="unbounded"/>
			<xsd:choice>
				<xsd:element name="VenueID" type="xsd:integer" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="RegionName" type="xsd:string" minOccurs="0" />
			</xsd:choice>
			<xsd:element name="ApplicationAcceptedThroughoutYear" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="OpportunityId" type="xsd:integer" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VenueInfo">
		<xsd:sequence>
			<xsd:element name="VenueName" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Distance" type="xsd:float" minOccurs="0"/>
			<xsd:element name="VenueAddress" type="AddressType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProviderDetail">
		<xsd:complexContent>
			<xsd:extension base="ProviderInfo">
				<xsd:sequence>
					<xsd:element name="ProviderAddress" type="AddressType"/>
					<xsd:element name="Website">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="400"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Email">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="400"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Phone">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="400"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Fax">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="400"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CourseDetail">
		<xsd:complexContent>
			<xsd:extension base="CourseInfo">
				<xsd:sequence>
					<xsd:element name="AwardingBody">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4000"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="EntryRequirements" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4000"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="AssessmentMethod" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4000"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="EquipmentRequired" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4000"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="URL" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="400"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="BookingURL" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="400"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="TariffRequired" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="LADID" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DataType">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="UCAS"/>
								<xsd:enumeration value="LAD - Type1"/>
								<xsd:enumeration value="LAD - Type2"/>
								<xsd:enumeration value="No LAD - Type3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="QualificationReferenceAuthority" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2000"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="QualificationReference" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2000"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="QualificationTitle" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2000"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Level2EntitlementCategoryDesc" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2000"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Level3EntitlementCategoryDesc" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2000"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SectorLeadBodyDesc" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2000"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="AccreditationStartDate" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="255"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="AccreditationEndDate" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="255"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CertificationEndDate" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="255"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CreditValue" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="255"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="QCAGuidedLearningHours" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2000"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="IndependentLivingSkills">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="Y"/>
								<xsd:enumeration value="N"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SkillsForLifeFlag">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="Y"/>
								<xsd:enumeration value="N"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SkillsForLifeTypeDesc">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2000"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ERAppStatus">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="Invalid"/>
								<xsd:enumeration value="Valid"/>
								<xsd:enumeration value="NotNewStarts"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ERTTGStatus">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="Invalid"/>
								<xsd:enumeration value="Valid"/>
								<xsd:enumeration value="NotNewStarts"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="AdultLRStatus">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="Invalid"/>
								<xsd:enumeration value="Valid"/>
								<xsd:enumeration value="NotNewStarts"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="OtherFundingNonFundedStatus">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="Valid"/>
								<xsd:enumeration value="NotNewStarts"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="VenueDetail">
		<xsd:sequence>
			<xsd:element name="VenueID" type="xsd:integer"/>
			<xsd:element name="VenueName" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="VenueAddress" type="AddressType"/>
			<xsd:element name="Website" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="400"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Email" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="400"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Phone" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="400"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Fax" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="400"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Facilities" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AddressType">
		<xsd:sequence>
			<xsd:element name="Address_line_1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="2000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Address_line_2" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="2000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Town" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="County" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PostCode">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Latitude">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="15"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Longitude">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="15"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StartDateType">
		<xsd:choice>
			<xsd:element name="Date" type="xsd:string"/>
			<xsd:element name="DateDesc">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="LDCSInfoType">
		<xsd:sequence>
			<xsd:element name="LDCSCode">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LDCSDesc">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Searchable" type="YesNoType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StudyModeType">
		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="StudyMode">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="QualificationLevels">
		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="QualificationLevel" type="xsd:string"/>
		</xsd:sequence>
		<!-- We do not yet know how the qualification code (or type or level or whatever) is going to be stored in the search db so this will have to be revisited. -->
	</xsd:complexType>
	<xsd:complexType name="QualificationTypes">
		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="QualificationType">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LDCSInputType">
		<xsd:sequence minOccurs="0" maxOccurs="5">
			<xsd:element name="CategoryCode">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LDCSOutputType">
		<xsd:sequence>
			<xsd:element name="CatCode1" type="LDCSInfoType" minOccurs="0"/>
			<xsd:element name="CatCode2" type="LDCSInfoType" minOccurs="0"/>
			<xsd:element name="CatCode3" type="LDCSInfoType" minOccurs="0"/>
			<xsd:element name="CatCode4" type="LDCSInfoType" minOccurs="0"/>
			<xsd:element name="CatCode5" type="LDCSInfoType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AttendaceModeType">
		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="AttendanceMode">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AttendancePatternType">
		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="AttendancePattern">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="A10InputType">
		<xsd:sequence minOccurs="0" maxOccurs="6">
			<xsd:element name="A10Code">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="FaultDetails">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="major" type="xsd:string"/>
				<xsd:element name="minor" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
